In [1]:
#Question 1
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

In [3]:
b()
b()
b()
a

12

In [4]:
b()
b()
b()
a

18

In [ ]:
#every time it gets executed, the value is being added in previous value. 
#global variable a traces back to last call and add the value from last to new value and gives the output.

In [ ]:
#Question 2
def fileLength(filename):
    try:
        open_file = open(filename, 'r')
        file_data = open_file.read()
        length_of_file = len(file_data)
        open_file.close()
        return length_of_file
    except:
        return "file "+ filename + " not found."

In [ ]:
#Question 3

In [6]:
#Question 4
def collatz(number):

    if number % 2 == 0:
        print(number // 2)
        return number // 2

    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        return result

n = input("Give me a number: ")
while n != 1:
    n = collatz(int(n))

Give me a number: 10
5
16
8
4
2
1

In [17]:
#Question 5
>>> def binary(n):
...   if n < 2:
...     print (n)
...   else:
...     binary(n // 2)
...     print (n % 2)

In [18]:
binary(0)

0

In [19]:
binary(1)

1

In [20]:
binary(3)

1
1

In [21]:
binary(9)

1
0
0
1

In [ ]:
#Question 6

In [ ]:
#Question 7

In [22]:
#Question 8
import pandas as pd
import sqlite3

In [23]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\trush\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\trush\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\trush\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\trush\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\trush\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\trush\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in c:\users\trush\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: matplotlib-inline in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: colorama in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\trush\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\trush\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\trush\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\trush\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\trush\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\trush\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\trush\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [24]:
df= pd.DataFrame({'City':['Mumbai','Mumbai','Mumbai','Mumbai','London','London','London','London','Cairo','Cairo','Cairo','Cairo'],
                 'Country':['India','India','India','India','United Kingdom','United Kingdom','United Kingdom','United Kingdom','Egypt','Egypt','Egypt','Egypt'],
                 'Season':['Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall'],
                 'Tempareture C':[24.8,28.4,27.9,27.6,4.2,8.3,15.7,10.4,13.6,20.7,27.7,22.2],
                 'Rainfall':[5.9,16.2,1549.4,346.0,207.7,169.6,157.0,218.5,16.5,6.5,0.1,4.5]})
df

      City         Country  Season  Tempareture C  Rainfall
0   Mumbai           India  Winter           24.8       5.9
1   Mumbai           India  Spring           28.4      16.2
2   Mumbai           India  Summer           27.9    1549.4
3   Mumbai           India    Fall           27.6     346.0
4   London  United Kingdom  Winter            4.2     207.7
5   London  United Kingdom  Spring            8.3     169.6
6   London  United Kingdom  Summer           15.7     157.0
7   London  United Kingdom    Fall           10.4     218.5
8    Cairo           Egypt  Winter           13.6      16.5
9    Cairo           Egypt  Spring           20.7       6.5
10   Cairo           Egypt  Summer           27.7       0.1
11   Cairo           Egypt    Fall           22.2       4.5

In [25]:
#Question 9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [26]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
words = [element.upper() for element in words]
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [27]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
words = [element.lower() for element in words]
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [28]:
new_list = [len(i) for i in words]
print(new_list)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [29]:
a = ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b = ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c = [3, 5, 5, 3, 5, 4, 3, 4, 3]
list1 = [a[0], b[0], c[0]]
list2 = [a[1], b[1], c[1]]
list3 = [a[2], b[2], c[2]]
list4 = [a[3], b[3], c[3]]
list5 = [a[4], b[4], c[4]]
list6 = [a[5], b[5], c[5]]
list7 = [a[6], b[6], c[6]]
list8 = [a[7]], b[7], c[7]
listx = [list1, list2, list3, list4, list5, list6, list7, list8]
print(listx)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], (['LAZY'], 'lazy', 4)]

In [31]:
new_words = [i for i in words if len(i) >= 4]
print(new_words)

['quick', 'brown', 'jumps', 'over', 'lazy']